In [14]:
import pandas as pd

In [19]:
df = pd.read_csv('adult.data.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
#Case 1
#Bu veri setinde her ırktan kaç kişi temsil ediliyor? Bu, dizin etiketleri olarak ırk adlarına sahip bir Panda serisi olmalıdır.

In [29]:
df['race'].value_counts()

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [31]:
race_series = df['race'].value_counts()

In [33]:
race_series

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [35]:
#Case 2
#Erkeklerin yaş ortalaması nedir?

In [45]:
#loc kavramı filtreleme gibi düşünebilirsiniz
male_avg = df.loc[(df['age']) & (df['sex']== 'Male'), ['age','sex']].mean().round()
male_avg

C:\Users\Administrator.KKONTROL03\AppData\Local\Temp\ipykernel_5100\765303443.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  male_avg = df.loc[(df['age']) & (df['sex']== 'Male'), ['age','sex']].mean().round()

age    39.0
dtype: float64

In [47]:
female_avg = df.loc[(df['age']) & (df['sex'] == 'Female'), ['age','sex']].mean().round()
female_avg

C:\Users\Administrator.KKONTROL03\AppData\Local\Temp\ipykernel_5100\2906884021.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  female_avg = df.loc[(df['age']) & (df['sex'] == 'Female'), ['age','sex']].mean().round()

age    37.0
dtype: float64

In [49]:
#Case 3
#Lisans derecesine sahip olanlar ?

In [57]:
per_bachelor = df.loc[df['education'] == 'Bachelors', 'education'].shape[0] / df.shape[0] * 100
per_bachelor = round(per_bachelor, 1) #yuvarlama değeri
per_bachelor

16.4

In [60]:
higher_education = df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
lower_education = df[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]

high_edu_per = higher_education[higher_education['salary'] == '>50K']['salary'].shape[0] / higher_education.shape[0] * 100
low_edu_per = lower_education[lower_education['salary'] == '>50K']['salary'].shape[0] / lower_education.shape[0] * 100

In [61]:
#Daha çok kazanan ve ileri eğitim almış insanlar
print(high_edu_per)

46.535843011613935

In [65]:
#Case 5
#Gelişmiş eğitimi olmayan insanların yüzde kaçı 50.000'den fazla kazanıyor?
print(low_edu_per)

17.3713601914639

In [68]:
#Case 6
#Bir kişinin haftada çalıştığı minimum saat sayısı nedir?

In [70]:
min_work_hours = df['hours-per-week'].min()
print(min_work_hours)

1

In [71]:
#Case 7 
#Haftada asgari saat çalışan insanların yüzde kaçının maaşı 50 binden fazla?

In [72]:
val1 =(df['hours-per-week'] == 1) & (df['salary'] == '>50K')
val2 = df['hours-per-week'] == 1
min_work_more_money = round((df[val1].shape[0] / df[val2].shape[0]) * 100, 1) #rounding off value

In [74]:
print(min_work_more_money)

10.0